body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: black;
}

nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:white;
}

nav a:hover{
    background-color: maroon;
}

img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: black;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    transition: width 2s, height 2s, background-color 2s;    
}

#red-ball:hover {
    background-color: maroon;
    width: 50%;
    height: 50%;
}